.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.separador {
  width: 80%;               /* El separador ocupa el 80% del ancho de la pantalla */
  height: 1px;              /* Hacemos la línea más fina (1px de grosor) */
  background-color: #d3d3d3; /* Un gris más claro (más sutil) */
  margin: 20px auto;        /* Centra la línea y le da un margen vertical */
  border-radius: 1px;       /* Bordes ligeramente redondeados (opcional) */
}


